header{
       background-color: black;
}
.Nav{
        
        font-family: "Poetsen One", sans-serif;
        font-weight: 40px;
        font-size: 30px;
        width: 100%;
        display: flex;
        justify-content:center;
        font-weight: bold;
    } 
    .garlic img{
         width: 482px;
         height: 361;   
        border-radius: 10px;}
        .Fun{
          color: #ffffff;
          font-family: "Poetsen One", serif;
          font-size: 30px;
        }
        .h1{
          font-family: "poesten one", sans-serif;
          color: #ffffff;
          font: size 40px;
          text-align: center;
         }
    .Burger img{ 
        width: 482px;
        height: 361;   
        border-radius: 10px;
        
        }
    .Wedges img{
        width: 482px;
        height: 361;   
        border-radius: 10px;
        
    }
     
      
    .Bio{
       font-family: "Poetsen One", sans-serif;
        color: #000000;
        background-color: #ffa500;

    }
    .freddy{
        size: 72px;
        width: 300px;
        margin-left:  50px;
        }
    li{ float: left;
        padding:16px;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 16px;            
        text-decoration: none;
        margin-right:35px;
        margin-left: 150px;
          }
        ul {
         list-style:none;
        margin: 0;
        padding:0;            
        gap: 20px;
        overflow: hidden;
        background-color: #ffa500;
          }
         

          .freddygif{ 
         box-sizing: content-box;
         width: 100%

          }
          body{
            background-color: black;
          }
          .About{
            font-family: "Poetsen One", sans-serif;
            text-align: center;
          }
          .Bio{
             text-align: center;
          }
         
          .desc{
            color: #fbfbfb;
            font-family: "poesten one", sans-serif;
            font-size: 25px;
            
          }
          .w3-half{
            font-size: 14px;
            text-align: left;
            background-color: #ffa500;
            width: 60%;
            
          }
          .w3-third{
           background-color: #ffa500;
          float: right;
          width: 60%;
          }
          .text{
            font-family: "poesten one", sans-serif;
            color: #fbfbfb;
            font: size 20px;
            text-align: center;
          }
          .container {
            position: relative;
          }
          .Contact{
            font-family: "poesten one", sans-serif;
            color: #fcfcfc;
            text-align: center;
            font-size: 30px;
          }
        
         
          .text-block {
            margin-top: 20%;
            font-size: 25px;
            position: absolute;
            right: 475px;
            top: 150px;
            width: 600px;
            background-color: rgb(0, 0, 0);
            opacity: 70%;
          }